.header1 {
    font: var(--heading1);
    color: var(--text-color);
    max-width: 70vw;
}
.div1 {
    background-color: rgba(0, 0, 0, 0);
}

.hero {
    height: 100vh;
    display: grid;
    grid-template-rows: max-content max-content max-content 1fr;
    gap: 20px;
    padding-right: 0px;
    padding-left: 0px;
}
.newIn {
    height: 100vh;
    background-color: #da3838;
}
.categories {
}
.bestSellers {
}
.colorSelector {
}
.spotlight {
}
.review {
}
.header2 {
    font: var(--heading1);
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    height: max-content;
    margin: 20px;
    padding: 20px;
}
.p1 {
    font: var(--heading4);
}
