.header1 {
    font: var(--heading1);
    color: var(--text-color);
    max-width: 70vw;
}
.div1 {
    background-color: rgba(0, 0, 0, 0);
}

.hero {
    height: 100vh;
    background-color: var(--primary4);
    padding-top: 180px;
}
.newIn {
    background-color: #da3838;
}
.categories {
}
.bestSellers {
}
.colorSelector {
}
.spotlight {
}
.review {
}
.header2 {
    font: var(--heading1);
    width: 50vw;
    line-height: 100%;
}
.p1 {
    width: 26vw;
    line-height: 110%;
    font-size: 40px;
    margin: 0px 0px 12px;
}
.test {
}
.flex {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-right: 3vw;
    padding-left: 3vw;
}
.tickerimage {
    width: 16vw;
    height: 20vw;
}
.div2 {
    display: flex;
    align-items: end;
}
.div3 {
    overflow: hidden;
}
.img_wrapper {
    width: 16vw;
    height: 20vw;
    align-content: end;
}
.speaker1 {
    width: 16vw;
}
