.header1 {
    font: var(--heading1);
    color: var(--text-color);
    max-width: 70vw;
}
.div1 {
    background-color: rgba(0, 0, 0, 0);
}

.hero {
    height: 100vh;
    background-color: var(--primary4);
    padding-top: 180px;
}
.newIn {
    background-color: #da3838;
}
.categories {
}
.bestSellers {
}
.colorSelector {
}
.spotlight {
}
.review {
}
.header2 {
    font: var(--heading1);
    width: 50vw;
    line-height: 100%;
}
.p1 {
    width: 26vw;
    line-height: 110%;
    font-size: 40px;
    margin: 0px 0px 12px;
}
.test {
}
.flex {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-right: 3vw;
    padding-left: 3vw;
}
.tickerimage {
    width: 16vw;
    height: 20vw;
}
.div2 {
    display: flex;
    align-items: end;
}
.div3 {
    overflow: hidden;
}
.img_wrapper {
    width: 16vw;
    height: 20vw;
    align-content: end;
}
.speaker1 {
    width: 16vw;
}
.categoryLink {
    width: 50vw;
}
.div4 {
}
.div5 {
}
.section-paddings {
    padding-top: 9vw;
    padding-right: 3vw;
    padding-left: 3vw;
}
.div6 {
    font: var(--heading3);
}
.no-padding-bottom {
}
.no-padding-bottom {
    padding-bottom: 0px;
}
.small-spacing {
    margin-bottom: 5vw;
    font: var(--heading2);
}
.p2 {
    font: var(--paragraph2);
    text-align: start;
    max-width: 65%;
}
.div7 {
    display: flex;
    flex-direction: column;
    align-items: start;
    font: var(--heading3);
    color: #e90f0f;
    position: absolute;
    z-index: 8;
}
.p3 {
    font: var(--paragraph2);
    max-width: 17vw;
}
.StackH3p2 {
    display: flex;
    flex-direction: column;
    align-items: start;
    max-width: 30vw;
    align-content: start;
    text-align: start;
    gap: 10px;
    font: var(--heading3);
}
.blacktext {
    color: var(--text-color);
}
.header3 {
    font: var(--heading2);
}
.img1 {
    width: 100%;
    border-radius: 16px;
    height: 36vw;
    grid-row: 1 / 2;
    grid-column: 1 / 4;
    object-fit: cover;
}
.compareColors {
    display: flex;
    flex-direction: column;
}
.p4 {
    font: var(--paragraph1);
    text-align: center;
}
.header4 {
    font: var(--heading2);
}
.labelWithArrow {
    font-weight: 800;
    margin-top: var(--ExtraSmallSpacing);
}
.centerTitlePButton {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-content: center;
    margin-bottom: var(--small-spacing);
}
.div8 {
    display: grid;
    grid-template-columns: 1fr;
    position: relative;
}
.div111 {
    width: 100%;
    object-fit: fill;
    grid-row: 1 / 3;
    grid-column: 1 / 2;
    position: relative;
    height: auto;
    align-items: start;
    align-content: start;
}
.crop {
    overflow: hidden;
    display: block;
    object-fit: cover;
    object-position: 0px 0%;
    align-content: start;
    position: relative;
}
.p5 {
    font: var(--paragraph3);
}
.p6 {
    font: var(--paragraph3);
}
.p7 {
    font: var(--paragraph3);
}
.bold {
    font-weight: 800;
}
.spec {
    display: flex;
    flex-direction: column;
    width: max-content;
    position: absolute;
    z-index: 999;
    bottom: 20px;
    left: 20px;
}
.imgSpotlightImg {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 5.2 5.2 vw;
    row-gap: 0%;
    padding-bottom: var(--small-spacing);
    column-gap: var(--marginDesktop);
}
.p1left {
    font: var(--paragraph1);
}
.div11 {
    margin-bottom: var(--small-spacing);
    display: flex;
}
.reviewsdiv {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: max-content max-content max-content;
    align-items: start;
    align-content: start;
    row-gap: var(--small-spacing);
    column-gap: var(--marginDesktop);
}
.reviewsImg {
    width: 42vw;
    height: 42vw;
    object-fit: cover;
    border: 0px solid black;
    border-radius: 16px;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}
.no-padding-top {
    padding: 0px var(--side-padding-desktop);
}
.header5 {
    font: var(--heading2);
    display: block;
    align-items: center;
    flex-direction: column;
    justify-items: start;
}
.div12 {
    align-self: start;
    height: 42vw;
    align-content: center;
}
.div13 {
    align-content: center;
}
.p8 {
    font: var(--paragraph1);
    height: max-content;
    max-width: 290px;
    grid-row: 1 / 2;
    grid-column: 3 / 4;
}
.p9 {
    font: var(--paragraph3);
    width: max-content;
}
.div14 {
    height: max-content;
}
.onereview {
    grid-row: 2 / 3;
    grid-column: 2 / 4;
    display: grid;
    gap: 2fr 2fr fr;
    grid-template-columns: 2fr 1fr;
    height: max-content;
}
.first {
    grid-row: 1 / 2;
    grid-column: 2 / 4;
    column-gap: var(--marginDesktop);
}
.second {
}
.third {
    grid-row: 3 / 4;
    grid-column: 2 / 4;
    padding-bottom: var(--small-spacing);
}
.div9 {
    height: 100vh;
    grid-row: 1 / 3;
    grid-column: 1 / 2;
    top: 0px;
    position: sticky;
}
.fullwidthimg {
    width: 100%;
}
.colorchangeimg {
    width: 100%;
    border-radius: 16px;
    position: absolute;
}
.right {
    right: 20px;
}
