.menuList {
    display: flex;
    align-items: center;
    list-style-type: none;
    padding: 0px 50px;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 26px;
}

.menuList.vertical {
    flex-direction: column;
}

.menuItem {
    display: block;
    padding: 14px 0px;
    white-space: nowrap;
}

.menuItem:hover,
.menuItem.active {
    text-decoration: underline;
}
.nav1 {
    height: 66px;
    display: flex;
    border-radius: 100px;
    background: var(--primary3);
}
