:root {
    --page-background-color: #ffffff;
    --text-color: #000000;
    --error-color: #df3131;
    /** Focus ring that appears when an element is focused via keyboard. */
    --focus-ring-color: #414434;

    --primary1: #ffffff;
    --primary2: #000000;

}
