.root {
}
.header1 {
    font: var(--heading1);
    margin-bottom: var(--small-spacing);
}
.header2 {
    font: var(--heading3);
    margin-bottom: var(--ExtraSmallSpacing);
}
.ProductCompare {
}
.p1 {
    font: var(--paragraph1);
    margin-top: var(--ExtraSmallSpacing);
    min-height: 5vw;
}
.price {
    font:
        normal normal 800 normal 24px / 1.2 'DM Sans',
        sans-serif;
    width: max-content;
}
.div2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 64px;
}
.p2 {
    font: var(--paragraph3);
    width: 45%;
}
.div3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2.2vw;
    width: 100%;
}
.img1 {
    width: 100%;
}
.DescriptionTopLine {
    border-top: 1px solid black;
    padding-top: 44px;
    padding-bottom: 44px;
}
.p3 {
    font: var(--paragraph3);
    width: 100px;
}
.div1 {
    min-height: 13vw;
}
.wider {
    width: 200px;
}
.f {
    width: 150px;
}
.third {
    padding-bottom: var(--BigSpacingDesktop);
}
