.productCard {
    display: flex;
    flex-direction: column;
    width: 20vw;
    height: 24vw;
    padding: 23px;
    row-gap: 10px;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    background: var(--primary3);
    border: 0px solid black;
    border-radius: 14px;
    &:hover {
        width: 24vw;
        height: 30vw;
    }
}

.imageWrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image {
    object-fit: contain;
    aspect-ratio: 3.7/4.2;
    width: 70%;
    margin-top: 10px;
}

.imagePlaceholderIcon {
    width: 60%;
    max-width: 100px;
    min-width: 50px;
    color: var(--primary4);
}

.ribbon {
    position: absolute;
    top: 4%;
    left: 4%;
    padding: 2px 12px;
    border-radius: 40px;
    background: var(--primary2);
    font: var(--paragraph3);
}

.name {
    font-family: var(--heading-font);
    font-size: 16px;
    line-height: 20px;
    font: var(--paragraph2);
    font-variant: normal;
    font-weight: 800;
}

.price {
    font: var(--paragraph2);
    line-height: 1.5;
}

.outOfStock {
    color: var(--primary4);
}

.skeleton > .imageWrapper {
    background: #f1ede7;
}

.variant {
    font: var(--paragraph2);
}
.div1 {
    display: flex;
    flex-direction: column;
    align-items: start;
    align-content: start;
    gap: 2px 0px;
}
.div2 {
    display: flex;
    flex-direction: column;
}
.labelWithArrow {
    margin: 20px;
=======
.div1 {
    width: 22vw;
    &:hover {
        transition: all 0.3s ease;
        width: 25vw;
    }
    align-content: end;

}
