.page {
    padding-bottom: 0px;
}

.content {
    display: grid;
    gap: 40px;
    margin-top: 36px;
    background-color: var(--primary4);
    grid-template-columns: 1fr 3fr;
}

.sidebar {
    flex: none;
    width: 100%;
    max-width: 200px;
    min-width: 140px;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}

.sidebarTitle {
    padding-bottom: 16px;
    border-bottom: 1px solid rgba(23, 17, 13, 0.2);
    margin-bottom: 16px;
    font: var(--heading5);
}

.categoryListItem {
    margin-bottom: 12px;
}

.categoryList {
    list-style: none;
    padding: 0;
}

.categoryLink {
    font: var(--paragraph3);
}

.categoryLinkActive {
    color: var(--secondary3);
}

.filters {
    margin-top: 48px;
    border-bottom: 1px solid rgba(23, 17, 13, 0.2);
}

.filtersTitle {
    margin-bottom: 0;
}

.main {
    flex: 1;
    grid-row: 1 / 2;
    grid-column: 2 / 3;
}

.categoryHeader {
    margin-bottom: 46px;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: start;
    gap: 10px;
}

.categoryName {
    font: var(--paragraph1);
    color: var(--Secondary);
}

.categoryDescription {
    max-width: 672px;
    margin-top: 4px;
    font: var(--paragraph1);
}

.appliedFilters {
    margin-bottom: 16px;
}

.countAndSorting {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    margin-bottom: 8px;
}

.productsCount {
    font: var(--paragraph3);
}

.loadMoreWrapper {
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

@media (max-width: 768px) {
    .countAndSorting {
        flex-direction: column;
        align-items: end;
    }

    .productsCount {
        align-self: start;
    }
}

@media (max-width: 480px) {
    .sidebar {
        display: none;
    }
}
.p1 {
    color: var(--text-color);
    width: auto;
    font: var(--paragraph1);
}
