.root {
    background-color: var(--text-color);
    --hover-letter-spacing: 0.15em;
    display: grid;
    width: min-content;
    align-items: center;
    font: var(--heading5);
    font-size: 24px;
    letter-spacing: 0.04em;
    text-align: left;
    cursor: pointer;
    padding: 0px;
    justify-items: center;
    color: var(--primary1);
    border-radius: 360px;
    box-sizing: border-box;
    clip-path: border-box;
    grid-template-columns: var(--horizontalSpacing) min-content var(--horizontalSpacing);
    grid-template-rows: var(--verticalSpacing) 1fr var(--verticalSpacing);
}

.label {
    display: flex;
    white-space: nowrap;

    z-index: 1;

    height: 100%;
    align-items: center;
    box-sizing: border-box;
    border-radius: 360px;
    mix-blend-mode: exclusion;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}

.icon {
    width: 50px;
    max-width: unset;
}

@keyframes buttonHover {
    0% {
        transform: translateY(-5px);
    }
    100% {
        transform: translateY(calc(-33.333%));
    }
}
@keyframes buttonOut {
    0% {
        transform: translateY(calc(-33.333%));
    }
    100% {
        transform: translateY(calc(-66.666%));
    }
}
.movingUp {
    background: linear-gradient(
        var(--bgColor1) 33.333%,
        var(--bgColor2) 33.33%,
        var(--bgColor2) 66.66%,
        var(--bgColor1) 66.666%
    );

    height: calc(300% + 30px);
    width: calc(100% + 20px);
    transform: translateY(-5px);
    animation-duration: 0.3s;
    animation-fill-mode: backwards;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    align-self: start;
    animation-play-state: running;
    animation-name: buttonOut;
    grid-row: 1 / 4;
    grid-column: 1 / 4;
}
.root:hover .movingUp {
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    animation-name: buttonHover;
    animation-timing-function: ease-in;
}
.border {
    border: solid 1px var(--bgColor1);
    border-radius: 360px;
    z-index: 2;
    width: 100%;
    height: 100%;
    grid-row: 1 / 4;
    grid-column: 1 / 4;
    font-weight: 800;
}
